In [30]:
import pandas as pd
import matplotlib.pyplot as plt # para gerar gráficos

In [2]:
dicionario = {
    'nome': 'jão',
    'idade':22,
    'função': 'programador',
}

In [3]:
#acessando valores no dicionário
dicionario['nome']

'jão'

In [4]:
#acessando valores no dicionário
obj = dicionario['nome']
print(obj)

jão

In [5]:
#mudando valores no dicionário
obj = dicionario['nome'] = 'cleomar'
print(obj)

cleomar

In [6]:
# adincionar mais uma chave e valor

obj = dicionario['altura'] = '1,75'
print(dicionario)

{'nome': 'cleomar', 'idade': 22, 'função': 'programador', 'altura': '1,75'}

In [7]:
#buscar todas as chaves do dicionários
di = dicionario.keys()
print(di)

dict_keys(['nome', 'idade', 'função', 'altura'])

In [8]:
#buscar todas as itens do dicionários
di = dicionario.items()
print(di)

dict_items([('nome', 'cleomar'), ('idade', 22), ('função', 'programador'), ('altura', '1,75')])

In [9]:
#buscar todas as itens do dicionários
di = dicionario.values()
print(di)

dict_values(['cleomar', 22, 'programador', '1,75'])

In [10]:
#excluindo itens do dicionários
di = dicionario.clear()
print(di)

None

In [50]:
# Lista de dicionários

lista = [{'id':1, 'nome':'joão'}, {'id':1, 'nome':'joão'}, {'id':1, 'nome':'joão'}]
print(lista)

[{'id': 1, 'nome': 'joão'}, {'id': 1, 'nome': 'joão'}, {'id': 1, 'nome': 'joão'}]

In [51]:
# acessando um objeto da lista
t = lista[1]
print(t)

{'id': 1, 'nome': 'joão'}

In [52]:
# acessando um atributo de um objeto da lista
t = lista[1]['nome']
print(t)

joão

In [53]:
# alterando o valor do atributo na lista objeto
t = lista[0]['nome'] = 'pedro'
print(t)
print(lista)

pedro
[{'id': 1, 'nome': 'pedro'}, {'id': 1, 'nome': 'joão'}, {'id': 1, 'nome': 'joão'}]

In [54]:
# inserindo uma variável na lista objeto
t = lista[1]['idade'] = '23'
print(t)
print(lista)

23
[{'id': 1, 'nome': 'pedro'}, {'id': 1, 'nome': 'joão', 'idade': '23'}, {'id': 1, 'nome': 'joão'}]

In [55]:
# removendo uma variável na lista objeto

del(lista[1]['idade'])
print(lista)

[{'id': 1, 'nome': 'pedro'}, {'id': 1, 'nome': 'joão'}, {'id': 1, 'nome': 'joão'}]

In [7]:


te = {'id': 1, 'nome': 'pedro','id': 1, 'nome': 'joão', 'id': 1, 'nome': 'Vanesa'}
for t in te:
  
    print(te)

TypeError: 'int' object is not iterable

In [5]:

data={'id': 14, 'carrinho': 1, 'produto': 2, 'quantidade_de_itens': 1}
data = data[1]['carrinho'] = '2'

In [6]:
type(data)

int