In [2]:
import os
import pandas as pd

In [3]:
vendas = pd.read_csv('C:/Users/cleomar/Downloads/Vendas/Devolucoes - Curitiba.csv') # lê e armazenar uma tabela
#print(vendas)
vendas.head(5) # visualizar uma tabela

,Unnamed: 0,SKU,Produto,Quantidade Devolvida,Data,Loja,Preço Unitário,Unnamed: 6
0,5,HL6259,Notebook,1,6/10/2018,Curitiba,3500,NaN
1,17,HL2714,Tablet,1,8/5/2018,Curitiba,1600,NaN
2,22,HL1918,Android,2,5/5/2018,Curitiba,3400,NaN
3,40,HL2714,Tablet,1,6/25/2018,Curitiba,1600,NaN
4,49,HL1918,Android,5,9/28/2018,Curitiba,3400,NaN

In [34]:
lista_arquivo = os.listdir('C:/Users/cleomar/Downloads/Vendas/') # listando os arquivos da pasta
print(lista_arquivo)

['Devolucoes - Belo Horizonte.csv', 'Devolucoes - Curitiba.csv', 'Devolucoes - Fortaleza.csv', 'Devolucoes - Goiás.csv', 'Devolucoes - Porto Alegre.csv', 'Devolucoes - Recife.csv', 'Devolucoes - Rio de Janeiro.csv', 'Devolucoes - Salvador.csv', 'Devolucoes - São Paulo.csv', 'Vendas - Belo Horizonte.csv', 'Vendas - Curitiba.csv', 'Vendas - Fortaleza.csv', 'Vendas - Goiás.csv', 'Vendas - Porto Alegre.csv', 'Vendas - Recife.csv', 'Vendas - Rio de Janeiro.csv', 'Vendas - Salvador.csv', 'Vendas - São Paulo - Copia.csv', 'Vendas - São Paulo.csv']