In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt # para gerar gráfico

In [2]:
vendas = pd.read_csv('C:/Users/cleomar/Downloads/Vendas/Devolucoes - Curitiba.csv') 
#print(vendas)
vendas_u_5 = pd.DataFrame(vendas) 
vendas_u_5 = vendas_u_5.rename(columns={'SKU':'Modelo'}) # renomeado uma coluna
vendas_u_5 = vendas_u_5.head(5)
vendas_u_5.drop('Data', axis=1, inplace = True) # deletar uma coluda
vendas_u_5.head(5)

,Unnamed: 0,Modelo,Produto,Quantidade Devolvida,Loja,Preço Unitário,Unnamed: 6
0,5,HL6259,Notebook,1,Curitiba,3500,NaN
1,17,HL2714,Tablet,1,Curitiba,1600,NaN
2,22,HL1918,Android,2,Curitiba,3400,NaN
3,40,HL2714,Tablet,1,Curitiba,1600,NaN
4,49,HL1918,Android,5,Curitiba,3400,NaN