In [4]:
import pandas as pd
import numpy as np

In [57]:
obj = { 'nome':['Ana','João', 'Maria', 'Raquel'],
      'NOTA':[4,8,9,10],
      'Aprovado':['não','sim', 'sim', 'sim']}
obj = pd.DataFrame(obj) # data frame unedimencional
obj2 = ['Ana','João', 'Maria', 'Raquel']
obj2 = pd.Series(obj2) # data frame dimencional
print(obj)
print(obj2)

     nome  NOTA Aprovado
0     Ana     4      não
1    João     8      sim
2   Maria     9      sim
3  Raquel    10      sim
0       Ana
1      João
2     Maria
3    Raquel
dtype: object

In [58]:
obj2.head() # retorna as ultimas 5 linhas

0       Ana
1      João
2     Maria
3    Raquel
dtype: object

In [59]:
obj_shape = obj.shape # calcular a quantidade de linhas e colunas
print(obj_shape)

(4, 3)

In [60]:
obl_describe = obj.describe() # detlalhar os objetos

            NOTA
count   4.000000
mean    7.750000
std     2.629956
min     4.000000
25%     7.000000
50%     8.500000
75%     9.250000
max    10.000000

In [48]:
array1= np.array([(1,2,5,), (5,5,6,4)]) # data frame unedimencional
print(array)

[(1, 2, 5) (5, 5, 6, 4)]

C:\Users\cleomar\AppData\Local\Temp\ipykernel_3332\1971758006.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  array1= np.array([(1,2,5,), (5,5,6,4)]) # data frame unedimencional